.cart{
    margin-left: 60px;
}
.add-button{
    background-color: cadetblue;
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.cart p{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}
.cart-price{
    border-bottom: 2px solid lightgray;
    margin-bottom:20px;
}