.feature-image{
    text-align: center;
    margin-bottom: 10px;
}
.logo-image{
    width: 70px;
    padding-left: 10px;
}
.nav-feature:hover{
    background-color: darkgrey;
    border-radius: 5px;
}
.nav-option:hover{
    background-color: lightgrey;
}